- let maxDate = 0
each item in site.posts.data
  if +item.date > maxDate
    - maxDate = +item.date

mixin indexPostUI()
  - const indexLayout = theme.index_layout
  - const masonryLayoutClass = [6, 7].includes(indexLayout) ? 'masonry' : ''
  #recent-posts.recent-posts.nc(class=masonryLayoutClass)
    .recent-post-items
      each article, index in page.posts.data
        - const link = article.link || article.path
        - const title = article.title || _p('no_title')
        - const leftOrRight = indexLayout === 3 ? (index % 2 === 0 ? 'left' : 'right') : (indexLayout === 2 ? 'right' : '')
        - const postCover = article.cover
        - const noCover = article.cover === false || !theme.cover.index_enable ? 'no-cover' : ''
        - const isNewest = globalPageType === 'home' && +article.date === maxDate

        .recent-post-item
          if postCover && theme.cover.index_enable
            .post_cover(class=leftOrRight)
              a(href=url_for(link) title=title)
                if article.cover_type === 'img'
                  img.post-bg(src=url_for(postCover) onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'` alt=title)
                else
                  div.post-bg(style=`background: ${postCover}`)

          .recent-post-info(class=noCover)
            .recent-post-info-top
              .recent-post-info-top-tips
                if globalPageType === 'home' && (article.top || article.sticky > 0)
                  span.article-meta.sticky-warp
                    i.fas.fa-thumbtack.sticky
                    span.sticky= _p('sticky')

                if theme.post_meta.page.categories && article.categories.data.length > 0
                  each item in article.categories.data
                    span.article-categories-original= item.name

                if isNewest
                  span.newPost 最新

                a.unvisited-post(href=url_for(link) title=title) 未读

              a.article-title(href=url_for(link) title=title)= title

            .article-meta-wrap
              if theme.post_meta.page.date_type
                span.post-meta-date
                  if theme.post_meta.page.date_type === 'both'
                    i.far.fa-calendar-alt
                    span.article-meta-label= _p('post.created')
                    time.post-meta-date-created(datetime=date_xml(article.date) title=_p('post.created') + ' ' + full_date(article.date))= date(article.date, config.date_format)
                    span.article-meta-separator
                    i.fas.fa-history
                    span.article-meta-label= _p('post.updated')
                    time.post-meta-date-updated(datetime=date_xml(article.updated) title=_p('post.updated') + ' ' + full_date(article.updated))= date(article.updated, config.date_format)
                  else
                    - const isUpdatedType = theme.post_meta.page.date_type === 'updated'
                    - const dateType = isUpdatedType ? 'updated' : 'date'
                    - const dateTypeOther = isUpdatedType ? 'date' : 'updated'
                    - const dateIcon = isUpdatedType ? 'fas fa-history' : 'far fa-calendar-alt'
                    - const dateTitle = isUpdatedType ? _p('post.updated') : _p('post.created')
                    - const dateTitleOther = isUpdatedType ? _p('post.created') : _p('post.updated')
                    i(class=dateIcon)
                    span.article-meta-label= dateTitle
                    time(datetime=date_xml(article[dateType]) title=dateTitle + ' ' + full_date(article[dateType]))= date(article[dateType], config.date_format)
                    time.time_hidden(datetime=date_xml(article[dateTypeOther]) title=dateTitleOther + ' ' + full_date(article[dateTypeOther]))= date(article[dateTypeOther], config.date_format)

              if theme.post_meta.page.tags && article.tags.data.length > 0
                span.article-meta.tags
                  each item in article.tags.data
                    a.article-meta__tags(href=url_for(item.path))
                      span
                        i.fas.fa-hashtag
                        = item.name

            - const content = postDesc(article)
            if content && false
              .content!= content

        if theme.ad && theme.ad.index
          if (index + 1) % 3 === 0
            .recent-post-item.ads-wrap!= theme.ad.index

    include ../pagination.pug
