-
  var footerConfig = theme.footer || {}
  var nav = footerConfig.nav || false
  var owner = footerConfig.owner || {}
  var copyright = footerConfig.copyright || {}
  var custom_text = footerConfig.custom_text || ''
  var icpNumber = '萌ICP备20260424号'
  var icpUrl = 'https://beian.miit.gov.cn/'
  var techStacks = [
    ['HTML5', '/img/brands/html5.svg', 'https://developer.mozilla.org/docs/Web/HTML'],
    ['CSS3', '/img/brands/css3.svg', 'https://developer.mozilla.org/docs/Web/CSS'],
    ['JavaScript', '/img/brands/javascript.svg', 'https://developer.mozilla.org/docs/Web/JavaScript'],
    ['Node.js', '/img/brands/nodejs.svg', 'https://nodejs.org/'],
    ['npm', '/img/brands/npm.svg', 'https://www.npmjs.com/'],
    ['Docker', '/img/brands/docker.svg', 'https://www.docker.com/'],
    ['Git', '/img/brands/git.svg', 'https://git-scm.com/'],
    ['GitHub', '/img/brands/github.svg', 'https://github.com/'],
    ['Nginx', '/img/brands/nginx.svg', 'https://nginx.org/'],
    ['MySQL', '/img/brands/mysql.svg', 'https://www.mysql.com/'],
    ['Cloudflare', '/img/brands/cloudflare.svg', 'https://www.cloudflare.com/'],
    ['DigitalOcean', '/img/brands/digitalocean.svg', 'https://www.digitalocean.com/']
  ]
  var socialEntries = Object.entries(theme.social || {})
  var footerGroups = [
    { title: '服务', links: [{ text: '归档', url: '/archives/' }, { text: '随机文章', url: '/random.html' }, { text: '标签云', url: '/tags/' }] },
    { title: '主题', links: [{ text: 'Butterfly', url: 'https://butterfly.js.org/' }, { text: 'Hexo 文档', url: 'https://hexo.io/docs/' }, { text: '源码仓库', url: 'https://github.com/szy321123' }] },
    { title: '导航', links: [{ text: '首页', url: '/' }, { text: '分类', url: '/categories/' }, { text: '工具', url: '/tools/' }, { text: '分享', url: '/sites/' }, { text: '关于', url: '/about/' }] },
    { title: '协议', links: [{ text: '隐私协议', url: '/privacy/' }, { text: '版权协议', url: '/copyright/' }, { text: 'CC BY-NC-SA 4.0', url: 'https://creativecommons.org/licenses/by-nc-sa/4.0/' }] },
    { title: '友链', links: [{ text: '资源分享', url: '/sites/' }, { text: '实用工具', url: '/tools/' }, { text: '随便逛逛', url: '/random.html' }] }
  ]

if nav
  .footer-flex
    each block in nav
      .footer-flex-items(style=`${ block.width ? 'flex-grow:' + block.width : '' }`)
        each blockItem in block.content
          .footer-flex-item
            .footer-flex-title= blockItem.title
            .footer-flex-content
              each subitem in blockItem.item
                if subitem.html
                  div!= subitem.html
                else if subitem.url
                  a(href=url_for(subitem.url), target='_blank', title=subitem.title)= subitem.title
                else if subitem.title
                  div!= subitem.title

.footer-other
  .footer-enhance
    if socialEntries.length
      .footer-social-row
        each item in socialEntries
          - var rawValue = String(item[1] || '')
          - var parts = rawValue.split('||')
          - var socialUrl = (parts[0] || '').trim()
          - var socialName = (parts[1] || '').trim()
          - var socialColor = (parts[2] || '').trim().replace(/^['"]|['"]$/g, '')
          - var socialExternal = /^(https?:|mailto:|\/\/)/.test(socialUrl)
          if socialUrl
            if socialExternal
              a.footer-social-btn(href=socialUrl, target='_blank', rel='noopener', title=(socialName || item[0]))
                i(class=item[0], style=(socialColor ? 'color:' + socialColor : ''))
            else
              a.footer-social-btn(href=url_for(socialUrl), title=(socialName || item[0]))
                i(class=item[0], style=(socialColor ? 'color:' + socialColor : ''))

    .footer-link-grid
      each group in footerGroups
        .footer-link-group
          .footer-link-title= group.title
          .footer-link-list
            each sub in group.links
              - var external = /^(https?:|mailto:|\/\/)/.test(sub.url)
              if external
                a.footer-link-item(href=sub.url, target='_blank', rel='noopener', title=sub.text)= sub.text
              else
                a.footer-link-item(href=url_for(sub.url), title=sub.text)= sub.text

  .footer-brand-carousel.group(style='--t: 42s')
    .footer-brand-track.animate-scroll
      each item in techStacks
        a.footer-brand-item(href=item[2], target='_blank', rel='noopener', title=item[0])
          img.footer-brand-logo(src=item[1], alt=item[0], loading='lazy', decoding='async')
    .footer-brand-track.animate-scroll2
      each item in techStacks
        a.footer-brand-item(href=item[2], target='_blank', rel='noopener', title=item[0])
          img.footer-brand-logo(src=item[1], alt=item[0], loading='lazy', decoding='async')

  .footer-copyright
    if owner.enable
      - var currentYear = new Date().getFullYear()
      - var sinceYear = owner.since
      span.copyright
        if sinceYear && sinceYear != currentYear
          != '&copy;&nbsp;' + sinceYear + ' - ' + currentYear + ' By ' + config.author
        else
          != '&copy;&nbsp;' + currentYear + ' By ' + config.author

    span.icp-info
      if owner.enable
        span.footer-separator |
      a(href=icpUrl, target='_blank', rel='noopener', title='备案查询')= icpNumber

  if custom_text
    .footer_custom_text!= custom_text
