- let comments = theme.comments
#post-info
  #post-firstinfo
    .meta-firstline
      if page.copyright_author && page.copyright_author !== config.author
        a.post-meta-original 转载
      else
        a.post-meta-original 原创

      if theme.post_meta.post.categories && page.categories && page.categories.data.length > 0
        span.post-meta-categories
          each item, index in page.categories.data
            i.fas.fa-inbox.post-meta-icon
            a(href=url_for(item.path) itemprop="url").post-meta-categories #[=item.name]
            if index < page.categories.data.length - 1
              i.fas.fa-angle-right.post-meta-separator

      if theme.post_meta.page.tags && page.tags && page.tags.data.length > 0
        span.article-meta.tags
          each item in page.tags.data
            a.article-meta__tags(href=url_for(item.path) itemprop="url")
              span
                i.fas.fa-hashtag
                = item.name

  h1.post-title(itemprop="name headline")= page.title || _p('no_title')
    if theme.post_edit.enable
      a.post-edit-link(href=theme.post_edit.url + page.source title=_p('post.edit') target="_blank")
        i.fas.fa-pencil-alt

  #post-meta
    .meta-firstline
      if theme.post_meta.post.date_type
        span.post-meta-date
          if theme.post_meta.post.date_type === 'both'
            i.far.fa-calendar-alt.post-meta-icon
            span.post-meta-label= _p('post.created')
            time.post-meta-date-created(itemprop="dateCreated datePublished" datetime=date_xml(page.date) title=_p('post.created') + ' ' + full_date(page.date))= date(page.date, config.date_format)
            span.post-meta-separator
            i.fas.fa-history.post-meta-icon
            span.post-meta-label= _p('post.updated')
            time.post-meta-date-updated(itemprop="dateModified" datetime=date_xml(page.updated) title=_p('post.updated') + ' ' + full_date(page.updated))= date(page.updated, config.date_format)
          else
            - let dataTypeUpdate = theme.post_meta.post.date_type === 'updated'
            - let dateType = dataTypeUpdate ? 'updated' : 'date'
            - let dateIcon = dataTypeUpdate ? 'fas fa-history' : 'far fa-calendar-alt'
            - let dateTitle = dataTypeUpdate ? _p('post.updated') : _p('post.created')
            i.post-meta-icon(class=dateIcon)
            span.post-meta-label= dateTitle
            time(itemprop="dateCreated datePublished" datetime=date_xml(page[dateType]) title=dateTitle + ' ' + full_date(page[dateType]))= date(page[dateType], config.date_format)

    .meta-secondline
      - let postWordcount = theme.wordcount.enable && (theme.wordcount.post_wordcount || theme.wordcount.min2read)
      if postWordcount
        span.post-meta-separator
        span.post-meta-wordcount
          if theme.wordcount.post_wordcount
            i.far.fa-file-word.post-meta-icon(title="文章字数")
            span.post-meta-label(title="文章字数")= _p('post.wordcount') + ':'
            span.word-count(title="文章字数")= wordcount(page.content)
            if theme.wordcount.min2read
              span.post-meta-separator
          if theme.wordcount.min2read
            i.far.fa-clock.post-meta-icon(title="阅读时长")
            span.post-meta-label(title="阅读时长")= _p('post.min2read') + ':'
            span= min2read(page.content, {cn: 350, en: 160}) + _p('post.min2read_unit')

      mixin pvBlock(parent_id, parent_class, parent_title)
        span.post-meta-separator
        span(class=parent_class id=parent_id data-flag-title=parent_title)
          i.far.fa-eye.post-meta-icon
          span.post-meta-label(title="阅读量")= _p('post.page_pv') + ':'
          if block
            block

      mixin otherPV()
        if theme.umami_analytics.enable && theme.umami_analytics.UV_PV.page_pv
          +pvBlock('', '', '')
            span#umamiPV(data-path=url_for(page.path))
              i.fa-solid.fa-spinner.fa-spin
        else if theme.busuanzi.page_pv
          +pvBlock('', 'post-meta-pv-cv', '')
            span#busuanzi_value_page_pv
              i.fa-solid.fa-spinner.fa-spin

      - const commentUse = comments.use && comments.use[0]
      if page.comments !== false && commentUse && !comments.lazyload
        if commentUse === 'Valine' && theme.valine.visitor
          +pvBlock(url_for(page.path), 'leancloud_visitors', page.title)
            span.leancloud-visitors-count
              i.fa-solid.fa-spinner.fa-spin
        else if commentUse === 'Waline' && theme.waline.pageview
          +pvBlock('', '', '')
            span.waline-pageview-count(data-path=url_for(page.path))
              i.fa-solid.fa-spinner.fa-spin
        else if commentUse === 'Twikoo' && theme.twikoo.visitor
          +pvBlock('', '', '')
            span#twikoo_visitors
              i.fa-solid.fa-spinner.fa-spin
        else if commentUse === 'Artalk' && theme.artalk.visitor
          +pvBlock('', '', '')
            span#ArtalkPV
              i.fa-solid.fa-spinner.fa-spin
        else
          +otherPV()
      else
        +otherPV()

      if theme.post_copyright.enable && theme.post_copyright.location
        span.post-meta-separator
        span.post-meta-position(title="作者IP属地")
          i.fas.fa-location-dot
          = theme.post_copyright.location

      if comments.count && !comments.lazyload && page.comments !== false && comments.use
        - const whichCount = comments.use[0]

        mixin countBlock
          span.post-meta-separator
          span.post-meta-commentcount
            i.far.fa-comments.post-meta-icon
            span.post-meta-label= _p('post.comments') + ':'
            if block
              block

        case whichCount
          when 'Disqus'
            +countBlock
              a.disqus-comment-count(href=full_url_for(page.path) + '#post-comment')
                i.fa-solid.fa-spinner.fa-spin
          when 'Disqusjs'
            +countBlock
              a.disqusjs-comment-count(href=full_url_for(page.path) + '#post-comment')
                i.fa-solid.fa-spinner.fa-spin
          when 'Valine'
            +countBlock
              a(href=url_for(page.path) + '#post-comment' itemprop="discussionUrl")
                span.valine-comment-count(data-xid=url_for(page.path) itemprop="commentCount")
                  i.fa-solid.fa-spinner.fa-spin
          when 'Waline'
            +countBlock
              a(href=url_for(page.path) + '#post-comment')
                span.waline-comment-count(data-path=url_for(page.path))
                  i.fa-solid.fa-spinner.fa-spin
          when 'Gitalk'
            +countBlock
              a(href=url_for(page.path) + '#post-comment')
                span.gitalk-comment-count
                  i.fa-solid.fa-spinner.fa-spin
          when 'Twikoo'
            +countBlock
              a(href=url_for(page.path) + '#post-comment')
                span#twikoo-count
                  i.fa-solid.fa-spinner.fa-spin
          when 'Facebook Comments'
            +countBlock
              a(href=url_for(page.path) + '#post-comment')
                span.fb-comments-count(data-href=urlNoIndex())
          when 'Remark42'
            +countBlock
              a(href=url_for(page.path) + '#post-comment')
                span.remark42__counter(data-url=urlNoIndex())
                  i.fa-solid.fa-spinner.fa-spin
          when 'Artalk'
            +countBlock
              a(href=url_for(page.path) + '#post-comment')
                span#ArtalkCount
                  i.fa-solid.fa-spinner.fa-spin
